DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=change_me
DB_DATABASE=quiniela2026
NODE_ENV=development

JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
SPORTSDB_BASE_URL=https://www.thesportsdb.com/api/v1/json/123
# SPORTSDB_LEAGUE_FILTER=World Cup
ADMIN_BOOTSTRAP_KEY=replace_with_a_unique_bootstrap_key
