DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE=quiniela2026
NODE_ENV=development

JWT_SECRET=un_secreto_super_seguro_para_la_quiniela_2026
JWT_EXPIRES_IN=7d
SPORTSDB_BASE_URL=https://www.thesportsdb.com/api/v1/json/123
# SPORTSDB_LEAGUE_FILTER=World Cup
ADMIN_BOOTSTRAP_KEY=crear-admin-quiniela-2026
